<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
		<p>
            <%block name="pageinformation">{{ PLATFORM_NAME }} is an online learning platform powered by <a href="https://open.edx.org">Open edX</a>.</%block>
        </p>
		<p>
            <%block name="pagecontent"><a href="https://www.addiesoft.com"> ADDIE SOFT LTD.</a> is a CMMI LEVEL-3 and ISO 9001:2015 certified company and WINNER of BASIS National ICT Award in 2018 and was established in 2007.</%block>
        </p>
		<p>
            ADDIE SOFT LTD. has many years of experience in developing software, web application, mobile apps, ERP solutions, and working locally and globally in various govt projects, defense, education, banking & financial services, telecommunications, healthcare, and corporate area. 
        </p>
    </section>
</main>