<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
		<p>
            <%block name="pageinformation">{{ PLATFORM_NAME }} is an online learning platform powered by <a href="https://open.edx.org">Open edX</a>.</%block>
        </p>
		<p>
            <%block name="pagecontent"><a href="https://www.knsitgroup.com"> KNS IT GROUP </a> is a global IT company, providing full-service development of  applications, custom systems, SaaS products and cloud services.</%block>
        </p>
		<p>
            <%block name="pagecontent">KNS IT Group has many years of experience in turning our clients’ business ideas into successful software solutions that meet their business requirements and contribute to their strategies. Since our inception, we have had the privilege to work with Private, Non-Government and Public organizations where we ensured delivery of world class services and enterprise solutions.</%block>
        </p>
		<p>
            <%block name="pagecontent">We are partners with the leading technology service providers, and have the expertise to provide our clients with exceptional service and quality products.  KNS It provides end-to-end solutions to make large companies and organizations more competitive by combining in-depth knowledge of a wide range of business sectors and innovative technologies with a fully collaborative approach.</%block>
        </p>
    </section>
</main>