<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>
            <%block name="pageinformation">KNS IT Group maintains offices, data centers and local teams around the world to serve growing and established global brands. Contact us today to learn how we can help your business transform with modern managed cloud services.</%block>
        </p>
        <p>
            <%block name="pagecontent">For any question regarding the usage of {{ PLATFORM_NAME }}, please get in touch with <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.</%block>
        </p>
        <p>
        
            <div class="contact-info box-style1">
                <i class="flaticon-world-globe"></i>			        
                    <div class="info-text">
                        <h2 style="color:blue;">Our Address:</h2>
                        <p>
                            <b>United States of America</b>
                            <br><br>
                            401 Congress Avenue, Suite 1540
                            <br>
                            Austin, TX 78701<br>    
                        </p>
                        <p>
                            <b>Bangladesh</b>
                            <br><br>
                            The Carnival (3rd floor)
                            P#6, R#5/A, B#6
                            <br>
                            Baridhara, Dhaka-1212
                        </p>

                        <br><br>

                        <h2 style="color:blue;">Our Mailbox:</h2>
                        <p>
                            <a href="mailto: info@knsitgroup.com">info@knsitgroup.com</a>
                        </p>

                    </div>
            </div>
        </p>
    </section>
</main>





