<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">For any question regarding the usage of {{ PLATFORM_NAME }}, please get in touch with <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.</%block>
        </p>
        <p>
        
            <div class="contact-info box-style1">
                <i class="flaticon-world-globe"></i>			        
                    <div class="info-text">
                        <h2 style="color:blue;">Our Address:</h2>
                        <p>
                            <b>Bangladesh</b>
                            <br><br>
                            House#23(Old-660) (2nd floor)
                            Road #11(Old-32)
                            <br>
                            Dhanmondi, Dhaka-1209
                        </p>

                        <br><br>

                        <h2 style="color:blue;">Our Mailbox:</h2>
                        <p>
                            <a href="mailto: info@addiesoft.com">info@addiesoft.com</a>
                        </p>

                    </div>
            </div>
        </p>
    </section>
</main>





